<div class="row justify-content-md-end justify-content-xs-center justify-content-sm-end">
    <div class="d-flex col-xs-12 justify-content-center col-sm-6 justify-content-end col-md-4 justify-content-end">
        <div class="btn-group dropdown">
            <button type="button" id="dropdownMenuLink" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                Sort by
            </button>
            <div class="dropdown-menu" style="max-height: 220px; overflow-y: auto; background-color: #1b1b1b;" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="?order_by=title&direction=asc"><span class="fas fa-sort-alpha-up"></span>&nbsp;Title-ascending</a><br>
                <a class="dropdown-item" href="?order_by=title&direction=desc"><span class="fas fa-sort-alpha-down-alt"></span>&nbsp;Title-descending</a><br>
                <a class="dropdown-item" href="?order_by=release_date&direction=asc"><span class="fas fa-sort-up"></span>&nbsp;Year-ascending</a><br>
                <a class="dropdown-item" href="?order_by=release_date&direction=desc"><span class="fas fa-sort-down"></span>&nbsp;Year-descending</a><br>
                <a class="dropdown-item" href="?order_by=score&direction=asc"><span class="fas fa-sort-numeric-up"></span>&nbsp;Score-ascending</a><br>
                <a class="dropdown-item" href="?order_by=score&direction=desc"><span class="fas fa-sort-numeric-down-alt"></span>&nbsp;Score-descending</a><br>
                <a class="dropdown-item" href="?order_by=votes&direction=asc"><span class="fas fa-sort-amount-up-alt"></span>&nbsp;Votes-ascending</a><br>
                <a class="dropdown-item" href="?order_by=votes&direction=desc"><span class="fas fa-sort-amount-down"></span>&nbsp;Votes-descending</a>
            </div>
        </div>
    </div>
</div>